<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="espresso" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_link" />

  <gazebo reference="chassis_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="leftwheel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="rightwheel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="caster_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <link name="chassis_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
		  <mass value="39.5369810886426" />
      <inertia
        ixx="0.585212117734519"
        ixy="1.57971174375172E-05"
        ixz="6.29607408717495E-07"
        iyy="0.277071772262219"
        iyz="8.37063970658785E-12"
        izz="0.670549792015464" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://description/rover_model/meshes/chassis_link.STL" />
      </geometry>
      <material name="chassis">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://description/rover_model/meshes/chassis_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="chassis_joint" type="fixed">
    <origin xyz="0 0 0.34041" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="chassis_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="leftwheel_link">
    <inertial>
      <origin xyz="5.55111512312578E-17 8.21278600682263E-11 9.54399316521748E-08" rpy="0 0 0" />
      <mass value="3.53301379822865" />
      <inertia
        ixx="0.0305624051588082"
        ixy="5.44931137897226E-20"
        ixz="1.89200393429209E-18"
        iyy="0.0173141878189182"
        iyz="-3.6016813083668E-11"
        izz="0.0173141459630085" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://description/rover_model/meshes/leftwheel_link.STL" />
      </geometry>
      <material name="leftwheel">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://description/rover_model/meshes/leftwheel_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="leftwheel_joint" type="fixed">
    <origin xyz="0.304778606533675 0.405179996867082 -0.215405882983008" rpy="0 0 1.5707963267949" />
    <parent link="chassis_link" />
    <child link="leftwheel_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rightwheel_link">
    <inertial>
      <origin xyz="5.55111512312578E-17 8.21278600682263E-11 9.54399316521748E-08" rpy="0 0 0" />
      <mass value="3.53301379822866" />
      <inertia
        ixx="0.0305624051588083"
        ixy="5.28218602084818E-19"
        ixz="4.30828412271815E-19"
        iyy="0.0173141878189182"
        iyz="-3.60168128331012E-11"
        izz="0.0173141459630085" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://description/rover_model/meshes/rightwheel_link.STL" />
      </geometry>
      <material name="rightwheel">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://description/rover_model/meshes/rightwheel_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="rightwheel_joint" type="fixed">
    <origin xyz="0.304821393466325 -0.405179996867083 -0.215405882983008" rpy="0 0 -1.5707963267949" />
    <parent link="chassis_link" />
    <child link="rightwheel_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="caster_link">
    <inertial>
      <origin xyz="-0.0207803938778721 3.28381970077043E-05 -0.114410646083436" rpy="0 0 0" />
      <mass value="1.04393630391833" />
      <inertia
        ixx="0.00251624374833463"
        ixy="2.49757733670031E-07"
        ixz="8.7516079967526E-05"
        iyy="0.00365084050776034"
        iyz="2.01087649112496E-06"
        izz="0.00210479541298768" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://description/rover_model/meshes/caster_link.STL" />
      </geometry>
      <material name="caster">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://description/rover_model/meshes/caster_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="caster_joint" type="fixed">
    <origin xyz="-0.368330160648919 0.00152400000000027 -0.131826" rpy="0 0 0" />
    <parent link="chassis_link" />
    <child link="caster_link" />
    <axis xyz="0 0 0" />
  </joint>
</robot>
