<launch>

    <arg name="launch_state" default="sim"/> 

    <!-- Spawn at course start -->
    <arg name="world_type" default="pavement"/>

    <arg name="x" value="-19.5" if="$(eval arg('world_type') =='pavement')" />
    <arg name="y" value="0" if="$(eval arg('world_type') =='pavement')" />
    <arg name="z" value="0.241" if="$(eval arg('world_type') =='pavement')" />
    <arg name="roll" value="0" if="$(eval arg('world_type') =='pavement')" />
    <arg name="pitch" value="0" if="$(eval arg('world_type') =='pavement')" />
    <arg name="yaw" value="1.5708" if="$(eval arg('world_type') =='pavement')" /> 

    <!-- Parse URDF with xacro -->
    <param name="robot_description" command="xacro '$(find description)/rover_model/urdf/espresso.urdf.xacro'"/>

    <!-- Spawn Caffeine in Gazebo -->
    <node name="spawn_espresso" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
            -urdf -model espresso
            -x $(arg x) -y $(arg y) -z $(arg z)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />
    
    <!-- Set up TF Tree -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="50"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
